<div class="container">
    <div class="header pr-5" (click)="clearChat()" title="Clear Chat">
        <i class="fa-solid fa-robot m-3"></i> LSEG Chatbot
    </div>
    <div id="chatWindow">
        <div class="message-server">
            <ul>
                <li>
                    <div class="radius">Hello! Welcome to LSEG. I am here to help you</div>
                </li>
            </ul>
        </div>

        <div *ngFor="let msg of webSocketService.messages$ | async"
             [ngClass]="msg.fromUser ? 'message-user' : 'message-server'">

            <!-- Display User Message-->
            <p *ngIf="msg.fromUser && msg.text!='MainMenu'">{{ msg.text }}</p>

            <!-- Display Stocks from Server -->
            <ul *ngIf="!msg.fromUser && msg.stockExchanges">
                <li>
                    <div class="radius">{{ msg.text }}</div>
                </li>
                <li class="item"
                    title="{{exchange.code}}"
                    *ngFor="let exchange of msg.stockExchanges"
                    (click)="selectExchange(exchange.code)">
                    <div>{{ exchange.stockExchange }}</div>
                </li>
            </ul>

            <!-- Display topStocks  -->
            <ul *ngIf="!msg.fromUser && msg.topStocks">
                <li>
                    <div class="radius">{{ msg.text }}</div>
                </li>
                <li class="item"
                    title="{{stock.code}}"
                    *ngFor="let stock of msg.topStocks"
                    (click)="selectTopStock(stock.code)">
                    <div>{{ stock.stockName }}</div>
                </li>
            </ul>

            <!-- Display stock price  -->
            <ul *ngIf="!msg.fromUser && msg.selectedStock">
                <li>
                    <div class="radius">{{ msg.text }}</div>
                </li>
                <li class="item">
                    <div (click)="clearChat()">Main Menu</div>
                    <div (click)="goBack()">&laquo; Go back</div>
                </li>
            </ul>
            <!-- Errors -->
            <ul *ngIf="!msg.fromUser && msg.error">
                <li class="error">
                    <div>{{ msg.text }}</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="chatMessage">
        <div class="input-group">
            <input type="text" [(ngModel)]="userMessage"
                   class="form-control"
                   placeholder="Please pick an option..."
                   (keyup.enter)="sendMessage()">
            <button class="btn btn-primary" (click)="sendMessage()">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>

</div>